%h1 Bezirk bearbeiten
- form_for :address, @address, :url => admin_address_path(@address), :html => {:method => :put, :multipart => true} do |form|
  .form-area
    %p.title
      = form.label :Behörde
      = form.text_field :behoerde, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Abteilung
      = form.text_field :abteilung, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Name
      = form.text_field :name, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Telefon
      = form.text_field :telefon, :class => 'textbox', :maxlength => 25
    %p.title
      = form.label :Email
      = form.text_field :email, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Adresse
      = form.text_field :adresse, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :URL
      = form.text_field :url, :class => 'textbox', :maxlength => 25
    %p.title
      = form.label :Sonstiges
      = form.text_field :sonstiges, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Bezirk
      = form.collection_select :district_id, ::District.find(:all, :order => :name), :id, :name_with_short_name, {}
  %p.buttons
    = form.submit "Speichern"
    or
    = link_to 'Abbruch', admin_addresses_url
  %p
    = link_to "Löschen", admin_address_path(@address), :method => 'delete', :confirm => 'Sind Sie sicher?'

