%h1 Übersicht der Adressen
%p Unterhalb finden Sie eine Liste aller Adressen. Klicken Sie auf den Namen, um die Details zu bearbeiten. 

%table.index
  %tr
    %th 
      = link_to('Bezirk', '?order=district_id')
    %th 
      = link_to('Name', '?order=name')
    %th
      = link_to('Behörde', '?order=behoerde')
    %th
      = link_to('Adresse', '?order=adresse')

  - unless @addresses.blank?
    - @addresses.each do |address|
      %tr
        %td 
          - unless address.district.nil?
            = link_to("(#{address.district.short_name}) #{address.district.name}", edit_admin_address_path(address))         
          - else
            = link_to("Kein Bezirk zugewiesen", edit_admin_address_path(address))         
        %td #{address.name}
        %td #{address.behoerde}
        %td #{address.adresse}
  
= will_paginate @addresses, :param_name => :page
%p
= link_to("Neue Adresse anlegen", new_admin_address_path)