%h1 Neuen Bezirk anlegen
- form_for :district, @district, :url => admin_clickable_maps_path, :html => {:method => :post} do |form|
  .form-area
    %p.title
      = form.label :Abkürzung
      = form.text_field :short_name, :class => 'textbox', :maxlength => 5
    %p.title
      = form.label :name
      = form.text_field :name, :class => 'textbox', :maxlength => 100
    %p.title
      = form.label :Beschreibung
      = form.text_field :description, :class => 'textbox', :maxlength => 255
    %p.title
      = form.label :Position_X
      = form.text_field :position_x, :class => 'textbox', :maxlength => 4
    %p.title
      = form.label :Position_Y
      = form.text_field :position_y, :class => 'textbox', :maxlength => 4
    %p.title
      = form.label :Bundesland
      = form.collection_select :state_id, ::State.find(:all, :order => :name), :id, :name, {}
  %p.buttons
    = form.submit "Speichern"
    or
    = link_to 'Abbruch', admin_clickable_maps_url

