<script type="text/javascript">
$(document).ready(function(){

$('#map').zoommap({
		// Width and Height of the Map
		width: '642',
		height: '600',

		//Misc Settings
		blankImage: '/images/maps/blank.gif',
		zoomDuration: 1000,
		bulletWidthOffset: '10px',
		bulletHeightOffset: '10px',

		//ids and classes
		zoomClass: 'zoomable',
		popupSelector: 'div.popup',
		popupCloseSelector: 'a.close',

		//Return to Parent Map Link
		showReturnLink: true,
		returnId: 'returnlink',
		returnText: 'Zur&uuml;ck',

		//Initial Region to be shown
		map: {
			id: 'oesterreich',
			image: '/images/maps/oe.png',
			data: '/oe.html',
            maps: [
<% for state in @states %>
			{
				id: '<%= state.short_name %>',
				parent: 'oesterreich',
				image: '/images/maps/<%= state.short_name %>.png',
				data: '/districts/<%= state.short_name %>',
				width: '<%= state.fullsize_x %>',
				height: '<%= state.fullsize_y %>',
                area_width: '<%= state.imagesize_x %>',
				area_height: '<%= state.imagesize_y %>',
				top: '<%= state.position_y %>',
				left: '<%= state.position_x %>',
				zindex: '<%= state.z_index %>'
			},
<% end %>
			]
		}
	});
});
</script>

<% content_for :breadcrumbs do %>
  <%= link_to "Start", '/' %><li>Österreich</li>
<% end %>
<div id="map"></div>
