<script type="text/javascript">

function GoTo (select) {
  var link = select.options[select.options.selectedIndex].value;
  if (link != "") window.location.href = link;
}

//$.ajaxSetup({
//  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
//})

$.fn.submitWithAjax = function() {
  this.submit(function() {
    if (document.state_selector.state_id.selectedIndex>0) {
      $.post(this.action, $(this).serialize(), null, "script");
      return false;
    }
    else return false;
  })
  return this;
};

var i = jQuery.noConflict();

i(document).ready(function(){

i('#state_selector').submitWithAjax();

i('#state_id').change(function() {
  if (document.state_selector.state_id.selectedIndex>0) {
    i.post(document.state_selector.action, i(document.state_selector).serialize(), null, "script");
    return false;
  }
  else return false;
});

i('#map').zoommap({
		// Width and Height of the Map
		width: '642',
		height: '600',

		//Misc Settings
		blankImage: '/images/maps/blank.gif',
		zoomDuration: 1000,
		bulletWidthOffset: '10px',
		bulletHeightOffset: '10px',

		//ids and classes
		zoomClass: 'zoomable',
		popupSelector: 'div.popup',
		popupCloseSelector: 'a.close',

		//Return to Parent Map Link
		showReturnLink: true,
		returnId: 'returnlink',
		returnText: 'Zur&uuml;ck',

		//Initial Region to be shown
		map: {
			id: 'oesterreich',
			image: '/images/maps/oe.png',
			data: '/oe.html',
            maps: [
<% for state in @states %>
			{
				id: '<%= state.short_name %>',
				parent: 'oesterreich',
				image: '/images/maps/<%= state.short_name %>.png',
				data: '/districts/<%= state.short_name %>',
				width: '<%= state.fullsize_x %>',
				height: '<%= state.fullsize_y %>',
                area_width: '<%= state.imagesize_x %>',
				area_height: '<%= state.imagesize_y %>',
				top: '<%= state.position_y %>',
				left: '<%= state.position_x %>',
				zindex: '<%= state.z_index %>'
			},
<% end %>
			]
		}
	});
});
</script>

<% content_for :breadcrumbs do %>
  <%= link_to "Start", '/' %><li>Österreich</li>
<% end %>

<p>
Durch einen Klick auf ein Bundesland, erscheint eine Detailkarte mit allen Bezirken.
Hier können Sie Ihre Suche durch Klick auf ein Lupensymbol beenden. 
Er wird Ihnen eine Informationsseite des gewählten Bezirks mit Kontaktinformationen etc. angezeigt.
</p>
  
<p>
Alternativ können Sie auch die Auswahlliste der Bundesländer unterhalb verwenden:
</p>

<div>
<% form_for @states, {:url => {:action => "districts_list"}, :html => {:id => "state_selector", :name => "state_selector"}} do %>
<%= collection_select(:state, :id, @states, :id, :name, { :include_blank => "Bundesland auswählen", :selected => nil }) %>
  
<!-- input type="submit" value="Bezirke anzeigen"/ -->
<%  end %>
</div>

<div id="district_selector"></div>

<div id="map"></div>