%h1 Übersicht der Bezirke
%p Unterhalb finden Sie eine Liste aller Bezirke Österreichs. Klicken Sie auf den Bezirksnamen, um die Detailseite zu bearbeiten. Klicken Sie auf den Code um die Kartenposition und die Kurzbeschreibung zu editieren.

%table.index
  %tr
    %th 
      = link_to('Name', '?order=name')
    %th
      = link_to('Code', '?order=short_name')
    %th 
      = link_to('Bundesland', '?order=state_id')
    %th
      = link_to("Alle Vorlagen erzeugen", admin_generate_page_address_path(0))  
  - unless @districts.blank?
    - @districts.each do |district|
      %tr
        %td
          - data=::Page.find_by_slug(district.short_name)
          - unless data.nil?
            = link_to(district.name, edit_admin_page_path(data.id))
          - else
            #{district.name}
        %td
          = link_to(district.short_name, edit_admin_district_path(district))
        %td #{district.state.name}
        %td 
          - unless district.address.nil?
            = link_to("Vorlage erzeugen", admin_generate_page_address_path(district))     
= will_paginate @districts, :param_name => :page
%p
= link_to("Neuen Bezirk anlegen", new_admin_district_path)